.row {
    margin-right: -15px;
    margin-left: -15px;
}
    
.col-md-3
        {
    width: 25%;
height:50%;
    
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 
{
    float:left;
}

.col-md-9 {
    width: 75%;
}

.col-md-6 {
    width: 50%;
}
