@import 'dropdown_menu';
@import 'panel';
@import 'card';
@import 'button';
@import 'col';
@import 'navbar';
@import 'typography';
@import 'table';
@import 'header';
@import 'footer';
@import 'modal';
@import 'form';


html #map-canvas {
  width: 100%;
  height: 335px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}