  .container {
        margin-top: 50px;
    }

body {
    background-color: #F3F5F8;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: #676a6d;
}
        .layout-fullwidth #wrapper .main {
    width: 100%;
}
#wrapper #sidebar-nav, #wrapper .main {
    padding-top: 80px;
}
       

.navbar-brand{
            padding: 10px;
        }
        .navbar-brand img{
            height: 80%;
        }
    .navbar-secondary {
  min-height: 50px;
}
.navbar-secondary.navbar-fixed-top {
  z-index: 1029;
  top: 50px;
}
 
  .navbar-secondary {
    padding: 0;
  }
  .navbar-secondary .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

        .navbar-nav .dropdown-menu > li > a {
    padding: 10px 20px;
}

//second navbar
.navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
 
    background-color:black;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #333;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }

 #navbar {
    text-align: center;
  }
 .nav-tabs > li {
        position:relative;    
    }

    .nav-tabs > li > a {
        display:inline-block;
    }

    .nav-tabs > li > span {
        display:none;
        cursor:pointer;
        position:absolute;
        right: 6px;
        top: 8px;    margin-top: 50px;
        color: red;
    }

    .nav-tabs > li:hover > span {
        display: inline-block;
    }
 .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none; color: #4285F4 !important; background: transparent; 
            }
        .nav-tabs > li > a::after { 
            content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0);
            }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
            }
 .nav-tabs > li > span {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 5px;
  margin-top:5px;
  color: black; }

